[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "2.0.0"
discord-ui = "5.1.6"
python-dotenv = "0.21.0"
discord-py-slash-command = "4.2.1"

[requires]
python_version = "3.10"